<nav class="navbar navbar-dark bg-success justify-content-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal">Carrito compras</a>
    </li>
  </ul>
</nav>