<div class="card" style="width: 18rem;">
  <img src="{{this}}.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this}}</h5>
    <p class="card-text">Fruta de estacion</p>
    <a href="/modal/{{this}}" class="btn btn-primary modalboton" >Agregar</a>
  </div>
</div>